@import '../Other/Variables.scss';

.player {
    color: black;
    border: 1px solid $Dlightblue;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
    background-color: $Dcream;

    &_name {
        font-weight: 700;
        font-size: 1.2rem;  
    }

    &_geld {
        
        & > span {
            // color: $Dyellow;
        }
    }
}

.outofgame {
    background-color: gray;
    opacity: 0.5;
}