@import '../Other/Variables.scss';

.playerssetup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 1rem;

    &_style {

        &_optionD {

            margin: 0 1rem;
            border: 1px solid transparent;
            border-radius: 1.3rem;
            padding: 0 0.5rem;
            width: 5.375rem;

            &:hover {
                cursor: pointer;
                border-color: $Dlightblue;
                background-color: $Dlightblue;
                color: black;
            }
        }

        &_optionI {
            border: 1px solid transparent;
            border-radius: 1.3rem;
            padding: 0 0.5rem;
            width: 4.1875rem;

            &:hover {
                cursor: pointer;
                border-color: $Dlightblue;
                background-color: $Dlightblue;
                color: black;
            }
        }
    }

    &_startgeld {
        margin-top: 0.5rem;
        display: flex;

        &_buttons {
            display: flex;

            &_button {
                fill: $Dcream;
    
                &:hover {
                    cursor: pointer;
                }
    
                &-unactivated {
                    opacity: 0.5;
                }
            }
    
            & > span {
                font-weight: 700;
            }
        }
    }

    &_players {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    &_addbutton {
        border: 1px solid $Dcream;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.5rem;
        height: 1.3rem;
        margin: 0 0.5rem;
        padding: 0 0.5rem;

        &:hover {
            border-color: $Dlightblue;
            background-color: $Dlightblue;
            color: black;
            cursor: pointer;
        }
    }

    &_player {

        &_item {
            display: flex;
            align-items: center;
            margin: 0.2rem 0;

            & div {
                border: 1px solid $Dcream;
                border-radius: 50%;
                height: 23px;
                width: 23px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 0.5rem;

                &:hover {
                    border-color: $Dlightblue;
                    background-color: $Dlightblue;
                    color: black;
                    cursor: pointer;
                }

                & > svg {
                    fill: $Dcream;

                    &:hover {
                        fill: black;
                        cursor: pointer;  
                    }
                }
            }
        }
    }

    &_startgame {
        border: 1px solid $Dcream;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.5rem;
        height: 1.3rem;
        margin: 1rem 0 0.5rem;

        &:hover {
            border-color: $Dlightblue;
            background-color: $Dlightblue;
            color: black;
            cursor: pointer;
        }

        & > span {
            margin: 0 0.5rem;
        }
    }
}

.active {
    font-weight: 700;
    border-color: transparent;
    
    &:hover {
        cursor: auto;
        font-weight: 700;
        color: $Dcream;
        background-color: transparent;
        border-color: transparent;
    }
}