@import '../Other/Variables.scss';

.pot {
    color: black;
    border: 1px solid $Dlightblue;
    margin: 0.5rem 0;
    width: calc((100vw - 2rem)/2);
    padding: 0.5rem;
    border-radius: 0.75rem;
    background-color: $Dlightblue;
    align-self: center;

    &_name {
        font-weight: 700;
        font-size: 1.2rem;  
    }

    &_geld {
        
        & > span {
            // color: $Dyellow;
        }
    }
}