@import './Other/Variables.scss';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: $Dblue;
    color: $Dcream;
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    user-select: none;
}

.container {

    display: flex;
    flex-direction: column;
    height: 100vh;

    &_title {
        margin: 1rem 0;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
    }

    &_playing {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        // @media screen and (min-width: 700px) {
        //     flex-direction: row;
        // }

        &_playarea {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
    
        &_players {
            display: grid;
            grid-template-columns: auto auto;
    
            &_player {
                text-align: center;
            }
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    & > div {
        border: 1px solid $Dcream;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.5rem;
        height: 1.3rem;
        margin: 0 0.5rem;

        &:hover {
            border-color: $Dlightblue;
            background-color: $Dlightblue;
            color: black;
            cursor: pointer;
        }

        & > span {
            margin: 0 0.5rem;
        }
    }
}